<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div id="wrapper">  
        <div id="header">
            <div id="logo">
                <h1>tost</h1>
            </div>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Toaster</a></li>
                <li><a href="#">Recipe</a></li>
               
            </ul>
            <form action="loginpage" method="GET">
                <input type="submit" id="logInButton" name="logInButton" value="Log In">
            </form>
            
        </div>
        <div id="left-content">
            <h1>New Kid on <br> 
                the block.</h1>
            <h5>Meet the new Mitsubishi Electric TO-ST1-T. A new toaster from Mitsubishi Electric that can only cook one bread at a time but this is the best money can buy.</h5>   
        </div>
        <div id="right-content">
            <img src="/toaster.png">
        </div>
    </div>
</body>
</html>