<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div id="body">
        <div id="wrapper">
            <div id="form">
              <h1>Sign In</h1> 
              <form action="#" method="POST">
                  <label>Email Address</label>
                  <input type="email" id="email" name="email" placeholder="Enter your email">

                  <label>Password</label>
                  <input type="password" id="passowrd" name="password" placeholder="Enter your password">

                  <input type="submit" id="login" name="login" value="Sign In">
              </form> 
              <p>Dont have an Account?</p>
              <a href="/register">Sign Up instead</a>
            </div>
        </div>
    </div>
</body>
</html>